@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
  --primary-color: #6dfdc9;
  --secondary-color: #5c02a7;
  --text-color: #d4feed;
  --bg-color: #021324;
  --accent-color: #fc07cd;
  --bg-alt: #05192b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}

.body {
  max-width: 968px;
  margin: auto;
}

.highlight {
  color: var(--accent-color);
}

.section__title {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
}
